# Ignore AWS and Terraform binaries
aws/
.terraform/
*.tfstate*
.env

# Ignore Python artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore backups and logs
*.backup
*.log
mission_logs.txt
.venv/
# Runtime logs/outputs
nohup.out
*.out
*.log
.env
nohup.out
__pycache__/
*.pyc
.env
