fastapi
uvicorn[standard]
pydantic
numpy
scikit-learn
joblib
sgp4
# blockchain optional (install later)
# web3
# eth-account
twilio
requests==2.32.3
spacetrack==1.4.0
matplotlib==3.8.2
matplotlib==3.8.2
